
Recovery
  Add a page for list of those with loan show (loan amount, amount paid, due date, )

Email alert customisation

SMS alert not working

Add state to request new debit card request table and parameters

View merchant transactions

view user merchant transaction

user can block card
  set is_suspended funtionality
  send mail to them
  set card to suspended
  disable suspended cards from user card list

delete user
  set is_active to false
  prevent access

admin debit user merchant credit
