Recovery
  Add a page for list of those with loan show (loan amount, amount paid, due date, )

Email alert customisation

SMS alert not working

View merchant transactions

view user merchant transaction


admin debit user merchant credit

create a nullable field state in the debcard req table
