@font-face {
    font-family: 'ProximaNova';
    font-style: normal;
    font-weight: normal;
    src: url('/basicsite/assets/fonts/ProximaNova-Regular.woff') format('woff');
}

@font-face {
    font-family: 'ProximaNova';
    font-style: normal;
    font-weight: 600;
    src: url('/basicsite/assets/fonts/ProximaNova-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 400;
    src: url('/basicsite/assets/fonts/Graphik-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 600;
    src: url('/basicsite/assets/fonts/Graphik-Bold.woff') format('woff');
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

html,
body {
    font-size: 16px;
    font-family: "ProximaNova", sans-serif;
    font-weight: normal;
    scroll-behavior: smooth;
    line-height: 1.2;
    background: #ffffff;
    overflow-x: hidden;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 0;
    color: #000;
    font-family: 'ProximaNova', sans-serif;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 1.45rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1.1rem;
}

h6 {
    font-size: 0.9rem;
}

p {
    font-size: 1rem;
    line-height: 1.5;
}

a,
a:hover {
    text-decoration: none;
}

.w-85 {
    width: 85%;
    margin: auto;
}

.btn-primary.rounded,
.btn-dark.rounded {
    color: #fff !important;
}

.cp-font-dark {
    color: #000;
}

.cp-font-light {
    color: #A4A4A4;
}

.cp-hr {
    background: #ddd;
}

.cp-btn-round-danger {
    background: #ED3237;
    border-radius: 24.5px;
    font-size: 0.8rem;
    border: #ffffff;
    padding: 10px 25px;
}

.cp-section {
    padding: 100px 0 60px;
    background: #fff;
}

.cp-section-title {
    text-align: center;
    color: #000;
    margin-bottom: 30px;
}

.cp-img-title-text img {
    margin-bottom: 20px;
}

.cp-img-title-text h3 {
    color: #000;
    margin-bottom: 15px;
}

.cp-img-title-text p {
    color: #8E8E8E;
    font-size: 0.75rem;
}

/* =================== Header Section ========================= */
.cp-navbar {
    position: absolute;
    height: 100px;
    padding: 30px 0;
    background: transparent;
    z-index: 2;
    width: 100%;
}

.cp-navbar .container {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cp-navbar .cp-nav-links {
    margin-bottom: 0;
    list-style: none;
    display: inline-flex;
}

.cp-nav-links li {
    padding: 7px 25px;
}

.cp-nav-links li a {
    color: #000;
    font-size: 1rem;
}

.cp-navbar.light .cp-nav-links li a {
    color: #fff;
}

.cp-mobile--menu__toggler {
    position: absolute;
    right: 7%;
    height: 27px;
    width: 35px;
    cursor: pointer;
    z-index: 100;
    transition: opacity .25s ease;
    display: none;
}

.cp-mobile--menu__toggler:hover {
    opacity: .7;
}

.cp-mobile--menu__toggler span {
    background: #ED3237;
    border: none;
    height: 3px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .35s ease;
    cursor: pointer;
    z-index: 5;
}

.cp-navbar.light .cp-mobile--menu__toggler span {
    background: #fff;
}

.cp-mobile--menu__toggler span:nth-of-type(2) {
    top: 10px;
}

.cp-mobile--menu__toggler span:nth-of-type(3) {
    top: 20px;
}

.cp-mobile--menu {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, width .35s;
    z-index: 1000;
}

.cp-mobile--menu .cp-mobile--menu__toggler {
    opacity: 0;
}

.cp-mobile--menu.open .cp-mobile--menu__toggler {
    opacity: 1;
    transition: 0.3s ease-in;
}

.cp-mobile--menu__content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 40px;
    height: 100%;
}

.cp-mobile--menu:after {
    content: '';
    background: #ED3237;
    right: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all .35s ease;
}


.cp-mobile--menu.open {
    visibility: visible;
    height: 100%;
}

.cp-mobile--menu.open:after {
    right: 0;
}

.cp-mobile--menu.open .cp-mobile--menu__toggler .top {
    -webkit-transform: translateY(10px) translateX(0) rotate(45deg);
    transform: translateY(10px) translateX(0) rotate(45deg);
    background: #fff;
}

.cp-mobile--menu.open .cp-mobile--menu__toggler .middle {
    opacity: 0;
    background: #ED3237;
}

.cp-mobile--menu.open .cp-mobile--menu__toggler .bottom {
    -webkit-transform: translateY(-10px) translateX(0) rotate(-45deg);
    transform: translateY(-10px) translateX(0) rotate(-45deg);
    background: #fff;
}

.cp-mobile--menu__links {
    list-style: none;
    padding: 0;
    position: relative;
    z-index: 3;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%
}

.cp-mobile--menu__links li {
    display: block;
    position: relative;
    opacity: 0;
    margin-bottom: 30px;
    cursor: pointer;
}

.cp-mobile--menu__links li a {
    color: #fff !important;
    font-size: 1.5rem;
    font-weight: 400;
}

.cp-mobile--menu__links li.active a {
    padding-bottom: 10px;
    border-bottom: 2px solid #fff;
    font-weight: 600;
}

.cp-mobile--menu__links li a:hover {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.cp-mobile--menu.open .cp-mobile--menu__links li {
    -webkit-animation: fadeInRight .5s ease forwards;
    animation: fadeInRight .5s ease forwards;
    -webkit-animation-delay: .35s;
    animation-delay: .35s;
}

.cp-mobile--menu.open .cp-mobile--menu__links li:nth-of-type(2) {
    -webkit-animation-delay: .45s;
    animation-delay: .45s;
}

.cp-mobile--menu.open .cp-mobile--menu__links li:nth-of-type(3) {
    -webkit-animation-delay: .55s;
    animation-delay: .55s;
}

.cp-mobile--menu.open .cp-mobile--menu__links li:nth-of-type(4) {
    -webkit-animation-delay: .65s;
    animation-delay: .65s;
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
    }

    100% {
        opacity: 1;
        left: 0;
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
    }

    100% {
        opacity: 1;
        left: 0;
    }
}

.cp-header {
    position: relative;
    background-image: url('/basicsite/assets/img/header-background-image.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cp-header.dark {
    background-image: url('/basicsite/assets/img/header-background-image-dark.png');

}

.cp-header h1 {
    font-family: 'Graphik', sans-serif;
    margin-top: 60px;
}

.cp-header.dark h1 {
    color: #fff;
    margin-top: 0;
}

.cp-header p {
    color: #3F3F3F;
    margin: 20px 0 30px;
}

.cp-header.dark p {
    color: #fff;
}

.cp-header-image-collage {
    display: flex;
    justify-content: flex-end;
}

.cp-header-image-collage img {
    height: 400px;
    width: 30%;
    object-fit: cover;
}

.cp-header-image-collage img:not(:last-child) {
    margin-right: 12px;
}

.cp-header.two .cp-card-img {
    height: 280px;
    width: auto;
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
}

.cp-header.two {
    padding-top: 0;
    padding-bottom: 100px;
}

/* =================== How It Works Section ============================ */
.cp-step {
    display: flex;
    height: 320px;
    width: 80%;
    margin: 0 auto 40px;
}

.cp-step.reverse {
    flex-direction: row-reverse;
}

.cp-step-desc,
.cp-step-indicator {
    width: 50%;
}

.cp-step-desc {
    padding: 30px 50px;
    box-shadow: 0 30px 100px rgba(0, 0, 0, 0.22476);
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.cp-step-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cp-step-indicator span {
    font-size: 12rem;
    font-weight: 600;
    font-family: 'Graphik', sans-serif;
}

.cp-step-indicator.one {
    background: #FBE3FF;
    color: #B140BC;
}

.cp-step-indicator.two {
    background: #FFF2D6;
    color: #FFCB33;
}

.cp-step-indicator.three {
    background: #E2FCFE;
    color: #4DD9EA;
}

/* =================== Features Section ============================ */
.cp-feature {
    background: #fff;
    box-shadow: 0 30px 100px rgba(0, 0, 0, 0.22476);
    position: relative;
    padding: 200px 50px 50px;
    margin-top: 100px;
    height: 700px;
}

.cp-feature>img {
    position: absolute;
    top: -70px;
    left: 10px;
    width: calc(100% - 20px);
    margin: auto;
}

.cp-feature ul {
    list-style-type: none;
    padding: 0 15px;
    margin: 15px 0;
}

.cp-feature ul li {
    color: #8E8E8E;
    margin-bottom: 15px;
    font-size: 0.9rem;
    padding-left: 10px;
    position: relative;
}

.cp-feature ul li:before {
    content: '';
    position: absolute;
    height: 6px;
    width: 6px;
    left: -15px;
    top: 5px;
    background: #8E8E8E;
}

.cp-feature ul.student li:before {
    background: #B339BE;
}

.cp-feature ul.salary-earner li:before {
    background: #FFCC10;
}

.cp-feature ul.business-owner li:before {
    background: #44D9EC;
}

.cp-feature-button {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.cp-partners {
    padding: 80px 0;
}

.cp-partners-container {
    width: 60%;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    box-shadow: 0 2px 52px rgba(0, 0, 0, 0.0783435);
    border-radius: 12px;
}

/* =================== Card Section ========================= */
.cp-card {
    padding: 80px 0;
    position: relative;
    background-image: url('/basicsite/assets/img/header-background-image.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cp-card.dark {
    background-image: url('/basicsite/assets/img/header-background-image-dark.png');
}

.cp-card img {
    height: 300px;
}

.cp-card-form {
    height: auto;
    min-height: auto;
}

.cp-card-step,
.form-hide {
    visibility: hidden;
    width: 100%;
    display: block;
    height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 10px;
}

.cp-card.dark h3,
.cp-card.dark p,
.cp-card.dark label {
    color: #fff;
}

.cp-card.dark p,
.cp-card.dark label {
    opacity: 0.8;
}

.show-step,
.notification-pop {
    height: 100%;
    display: block;
    visibility: visible !important;
    -webkit-transition-delay: 1300ms !important;
    -moz-transition-delay: 1300ms !important;
    -o-transition-delay: 1300ms !important;
    transition-delay: 1300ms !important;
    opacity: 1;
    -webkit-transition: opacity 800ms cubic-bezier(0.455, 0.03, 0, 1) !important;
    -moz-transition: opacity 800ms cubic-bezier(0.455, 0.03, 0, 1) !important;
    -o-transition: opacity 800ms cubic-bezier(0.455, 0.03, 0, 1) !important;
    transition: opacity 800ms cubic-bezier(0.455, 0.03, 0, 1) !important;
}

/* =================== In touch Section ========================= */

.cp-in-touch-section {
    padding: 50px 50px;
    background: #FFFFFF;
    text-align: center;
    color: #8E8E8E;
}

.cp-in-touch-text {
    color: #C4C3D6;
}

.cp-in-touch-box {
    background: #FFFFFF;
    box-shadow: 0px 2px 52px rgba(0, 0, 0, 0.0783435);
    border-radius: 12px;
    height: 106px;
    min-width: 310px;
}

.cp-in-touch-box img {
    width: 50px;
}

.cp-in-touch-col {
    text-align: left;
    margin: 20px;
}


/* =================== Footer ========================= */

.cp-footer {
    background: rgba(216, 216, 216, 0.131474);
    padding: 50px 50px;
    border-radius: 50%/100px 100px 0 0;
    padding-top: 150px;
}

.cp-footer p {
    font-size: 0.875rem;
}

.cp-footer-social {
    background: #FFFFFF;
    box-shadow: 0px 2px 52px rgba(0, 0, 0, 0.0783435);
    border-radius: 5px;
    padding: 20px;
    margin-right: 10px;
}

.cp-footer-social img {
    height: 20px;
    width: 20px;
}

.cp-footer-links a {
    color: #000;
    font-size: 0.75rem;
    margin-top: 10px;
}

.cp-footer-links a:hover {
    text-decoration: underline;
}

.cp-footer-input {
    background: #FFFFFF;
    box-shadow: 0px 2px 52px rgba(0, 0, 0, 0.0783435);
    border-radius: 5px;
    border: none;
    height: 60px;
    padding-right: 60px;
}

.cp-footer-input-icon {
    background: #ED3237;
    box-shadow: 0px 2px 52px rgba(0, 0, 0, 0.0783435);
    border-radius: 0px 12px 12px 0px;
    padding: 15px;
    right: 0;
    top: 0;
}

.cp-footer-input-icon svg {
    height: 30px;
    width: 30px;
}

.cp-footer-section {
    border-right: 1px solid #ddd;
}

.cp-footer-bottom-logo {
    display: flex;
}

/* =================== MERCHANT PAGE ========================= */
.cp-merchant-header {
    background-image: url('/basicsite/assets/img/merchant-header-image.png');
}

.cp-header-linear-bg {
    height: 100px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, #EEEEEE 26.34%, rgba(216, 216, 216, 0.0001) 100%);
}

.cp-merchant-header h1 {
    margin-top: 0;
}

.cp-how-it-works-steps {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin: auto;
    position: relative;
    height: 1000px;
}

.cp-how-it-works-step {
    position: absolute;
    width: 47%;
    height: 400px;
    border-radius: 12px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto auto 30px;
}

.cp-step-number {
    font-family: 'Graphik', sans-serif;
    font-weight: 600;
    font-size: 4.5rem;
}

.cp-how-it-works-step h2 {
    font-size: 2rem;
}

.cp-how-it-works-step p {
    color: #000;
}

.cp-how-it-works-step .divider {
    height: 2px;
    width: 100%;
    margin: 20px 0;
}

.cp-how-it-works-step.one {
    background: #FBE3FF;
    top: 0;
    left: 0;
}

.cp-how-it-works-step.one .cp-step-number {
    color: #B140BC;
}

.cp-how-it-works-step.one .divider {
    background: #B140BC;
}

.cp-how-it-works-step.two {
    background: #E2FCFE;
    right: 0;
    top: 70px;
}

.cp-how-it-works-step.two .cp-step-number {
    color: #4DD9EA;
}

.cp-how-it-works-step.two .divider {
    background: #4DD9EA;
}

.cp-how-it-works-step.three {
    background: #FFF2D6;
    left: 0;
    top: 430px;
}

.cp-how-it-works-step.three .cp-step-number {
    color: #FFCB33;
}

.cp-how-it-works-step.three .divider {
    background: #FFCB33;
}

.cp-how-it-works-step.four {
    background-image: url('/basicsite/assets/img/step-4-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 2px 52px rgba(0, 0, 0, 0.0783435);
    color: #fff;
    top: 500px;
    right: 0;
}

.cp-how-it-works-step.four .cp-step-number {
    color: #fff;
}

.cp-how-it-works-step.four h2 {
    color: #fff;
}

.cp-how-it-works-step.four .divider {
    background: #fff;
}

.cp-need-credit {
    display: flex;
    width: 100%;
    border: 1px solid rgba(151, 151, 151, 0.529993);
    border-left: none;
    border-right: none;
}

.cp-need-credit-desc,
.cp-need-credit-form {
    padding: 60px;
}

.cp-need-credit-desc {
    width: 40%;
    background: #F7F7FC;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cp-need-credit-desc>div {
    width: 70%;
    margin: auto;
}

.cp-need-credit-desc img {
    height: 50px;
    margin-bottom: 20px;
}

.cp-need-credit-desc h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.cp-need-credit-desc p {
    line-height: 1.7;
    font-size: 1rem;
}

.cp-need-credit-form {
    background: #fff;
    width: 60%;
}

.cp-need-credit-form p {
    font-size: 1rem;
    color: #979797;
}


/* =================== HOW IT WORKS PAGE ========================= */

.cp-how-header {
    min-height: 70vh;
}

.cp-how-section {
    margin: 30px 150px;
}

.cp-how-section-text {
    width: 75%;
}

.cp-how-section-text p {
    font-size: 22px;
}

.cp-how-header-text h1,
.cp-how-header-text p {
    width: 30%;
}

/* =================== FAQ PAGE ========================= */

.cp-faq {
    position: relative;
    min-height: 30vh;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.faq-illustration {
    position: absolute;
    top: 0;
    right: 0;
}

.cp-faq span {
    padding: 7px 10px;
    border: 1px solid #F02F2F61;
    border-radius: 4px;
    color: #ED3237;
    font-weight: 600;
}

.cp-faq h1 {
    font-family: 'Graphik', sans-serif;
    font-weight: 600;
    margin-bottom: 15px !important;
    margin-top: 10px !important;
}

.cp-faq p {
    color: #3F3F3F;
    width: 60%;
    margin: 0 auto 20px;
    line-height: 1.4;
}

.cp-faq-search {
    background: #FFFFFF;
    border-radius: 8px;
    border: 1px solid #07070720;
    height: 60px;
    padding-right: 60px;
}

.cp-faq-search:focus {
    border: 1px solid #ED3237;
    box-shadow: 0 2px 52px rgba(0, 0, 0, 0.0783435);
    transition: all 0.3s ease-in;
}

.cp-faq-search-icon {
    position: absolute;
    height: 100%;
    background: #ED3237;
    border-radius: 0 8px 8px 0;
    padding: 20px;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cp-faq-search:focus .cp-faq-search-icon {
    box-shadow: 0 2px 52px rgba(0, 0, 0, 0.0783435);
    transition: box-shadow 0.3s ease-out;
}

.cp-faq-search-icon svg {
    height: 24px;
    width: 24px;
}

.cp-faq-category {
    height: 150px;
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0 2px 52px rgba(0, 0, 0, 0.0783435);
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.cp-faq-category svg {
    margin-bottom: 15px;
    height: 40px;
    width: auto;
}

.cp-faq-category p {
    color: #000;
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 0;
}

.cp-faq-category.active {
    background: #ED3237;
}

.cp-faq-category.active p {
    color: #fff;
}

.cp-faq-category:hover:not(.active) {
    background-color: #000;
    transition: background-color 0.3s ease-in;
}

.cp-faq-category.active svg path,
.cp-faq-category:hover:not(.active) svg path {
    fill: #fff;
    transition: fill 0.3s ease-in;
}

.cp-faq-category:hover:not(.active) p {
    color: #fff;
    transition: color 0.3s ease-in;
}


.cp-accordion {
    padding: 30px 20px;
    color: #000;
    font-size: 1.1rem;
    font-weight: 500;
    background: #FFFFFF;
    border: 1px solid rgba(183, 183, 183, 0.4);
    box-sizing: border-box;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    position: relative;
    margin-bottom: 25px;
}

.cp-accordion a {
    position: absolute;
    top: 20px;
    left: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: calc(100% - 20px);
    font-size: 1rem;
    transition: font-size 0.2s ease-out;
}

.cp-accordion a:hover,
.cp-accordion a:hover::after {
    cursor: pointer;
}

.cp-accordion a.active {
    font-size: 1.2rem;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #9AA4AF25;
    transition: all 0.2s ease-in;
}

.cp-accordion a::after {
    content: "\25BE";
    position: absolute;
    float: right;
    right: 20px;
    font-size: 1.3rem;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    border: 1px solid #BABABA;
    color: #BABABA;
    height: 30px;
    width: 30px;
    background: transparent;
}

.cp-accordion a.active::after {
    content: '\25B4';
    background: #ED3237;
    border: 1px solid #ED3237;
    top: 25%;
    color: #fff;
}

.cp-accordion .content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    clear: both;
    -webkit-transition: all 0.2s ease 0.15s;
    -o-transition: all 0.2s ease 0.15s;
    transition: all 0.2s ease 0.15s;
    color: #9AA4AF;
}

.cp-accordion .content p {
    font-size: 0.9rem;
}

.cp-accordion .content p:last-child {
    margin-bottom: 0;
}

.cp-accordion .content.active {
    padding-top: 35px;
    opacity: 1;
    max-height: 100%;
    -webkit-transition: all 0.35s ease 0.15s;
    -o-transition: all 0.35s ease 0.15s;
    transition: all 0.35s ease 0.15s;
}

.cp-card-header-img-holder {
    display: flex;
    justify-content: flex-end;
}

.cp-card-header-img {
    height: 500px;
    width: auto;
}

.cp-card-header-img-mobile {
    display: none;
    width: 500px;
    height: auto;
    margin-bottom: 20px;
}

.cp-cards {
    width: 70%;
    margin: auto;
}

.cp-card-type {
    background: #fff;
    box-shadow: 0 30px 100px rgba(0, 0, 0, 0.22476);
    position: relative;
    padding: 80px 60px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.cp-card-type img {
    height: 200px;
    width: auto;
    margin-bottom: 20px;
}

.cp-card-type ul {
    list-style-type: none;
    padding: 0 15px;
    margin: 15px 0;
}

.cp-card-type ul li {
    color: #8E8E8E;
    margin-bottom: 15px;
    font-size: 0.9rem;
    padding-left: 10px;
    position: relative;
}

.cp-card-type ul li:before {
    content: '';
    position: absolute;
    height: 6px;
    width: 6px;
    left: -15px;
    top: 5px;
    background: #ED3237;
}

.cp-card-type-button {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.feature {
    padding: 40px;
    border-radius: 12px;
    height: 350px;
    margin-bottom: 30px;
}

.feature.one {
    background: #FBE2FF;
}

.feature.two {
    background: #FFF2D5;
}

.feature.three {
    background: #FFEDED;
}

.feature.four {
    background: #E1FCFE;
}

/* =================== Blog ========================= */


.cp-blog-search {
    background: #FFFFFF;
    border-radius: 8px;
    border: 1px solid #F0F0F0;
    height: 60px;
    padding-left: 60px;
}

.cp-blog-search-icon {
    position: absolute;
    top: 20px;
    left: 20px;
}

a.btn-outline-danger {
    color: #ED3237;
    border-color: #ED3237;
    line-height: 2;
    font-weight: bold;
}

.cp-blog-header h1 {
    width: 50%;
}

.cp-blog-header {
    background: #F7F7F7;
}

.cp-blog-item {
    background: #FFFFFF;
    box-shadow: 0px 30px 100px rgba(0, 0, 0, 0.22476);
}

.cp-blog-text {
    padding: 40px;
}

.cp-blog-text p {
    font-size: 0.6rem;
}

.cp-blog-item .blog-img {
    height: 270px;
}

.cp-blog-pagination {
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cp-blog-pagination span {
    padding: 5px 10px;
    border: 1px solid #C0C0C0;
    border-radius: 4px;
    margin: 0px 3px;
}

.cp-blog-pagination .active {
    border: 1px solid #ED3237;
}

.cp-inner-blog-header {
    background: url(../img/blog-background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cp-inner-blog-header h1 {
    color: #fff;
    width: 50%;
}

.cp-inner-blog-navbar {
    background: #fff;
}

.cp-inner-blog-section {
    padding: 50px 200px 60px;
}

/* ==================== Terms and Condiitons ====================== */
.cp-terms {
    position: relative;
    min-height: 50vh;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
}

.terms-illustration {
    position: absolute;
    top: 0;
    right: 0;
}

.cp-terms h1 {
    font-family: 'Graphik', sans-serif;
    font-weight: 600;
    margin-bottom: 15px !important;
    margin-top: 10px !important;
}

.cp-terms-list h5 {
    margin-bottom: 10px;
    ;
}

.cp-terms-list p {
    color: #3F3F3F;
    line-height: 1.7;
    text-align: justify;
}
